<h2 id="title">Ember CLI Icon Rating</h2>

<h3>Value: {{value}}</h3>

<br/>
<br/>
<h3>Default</h3>
{{icon-rating
	value=value
	onClick=(action (mut value))
}}

<br/>
<br/>
<h3>Min - 5 / Max - 11 / Step - 2</h3>
{{icon-rating
	min=5
	max=11
	step=2
	size='lg'
	value=value
	onClick=(action (mut value))
}}

<br/>
<br/>
<h3>Readonly</h3>
{{icon-rating
	max=10
	size=2
	value=1
	readOnly=true
}}

<br/>
<br/>
<h3>Large Sizes</h3>
{{icon-rating
	max=10
	size=3
	value=3
}}

<br/>
<br/>
<h3>Different Colors</h3>
{{icon-rating
	max=10
	size=4
	value=5
	baseColor='red'
	fillColor='green'
}}

<br/>
<br/>
<h3>Set 10% Width</h3>
{{icon-rating
	max=10
	size=5
	value=7
	width='10%'
}}

<br/>
<br/>
<h3>Different Icon</h3>
{{icon-rating
	max=10
	size=5
	value=9
	icon='dollar'
}}